:root {
  --colorWhite: #ffffff;
  --colorBlack: #181818;
  --colorGray: #7B7B7B;
  --colorOrange: #FE5F1E;
  --colorOrangeDarken: #E86100;

  --colorPrimary: var(--colorOrange);
  --colorPrimaryHover: var(--colorOrangeDarken);

  --baseFontFamily: "ProximaNova", serif;
  --baseFontSize: 16px;
  --baseLineHeight: 1.2;
  --baseFontWeight: 400;

  --gridMaxWidth: 1226px;
  --gridPadding: 48px;
}